<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>848234658273-mlahddc7cnht83l3vog7hdoooi214htb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.848234658273-mlahddc7cnht83l3vog7hdoooi214htb</string>
	<key>API_KEY</key>
	<string>AIzaSyBTerRv_AmYmP7NlfJRuY5ceeC_7F-AGdA</string>
	<key>GCM_SENDER_ID</key>
	<string>848234658273</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.taag</string>
	<key>PROJECT_ID</key>
	<string>randevu-signup</string>
	<key>STORAGE_BUCKET</key>
	<string>randevu-signup.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:848234658273:ios:55ff64113fa3412fd7baa0</string>
	<key>DATABASE_URL</key>
	<string>https://randevu-signup.firebaseio.com</string>
</dict>
</plist>